
<nav class="container"> 
    <h2>Shop-Cart</h2>
    <div id="controller">
        <a id="home" href="#" mat-icon-button > <mat-icon> home</mat-icon> </a>
        <a id="fav" href="https://www.niit.com/india/" mat-icon-button><mat-icon> favorite</mat-icon> </a>
        <a id="cart" mat-icon-button > <mat-icon> shopping_cart</mat-icon> </a>
        <a id="profile" mat-icon-button > <mat-icon> person</mat-icon> </a>
    </div>
    <div>
        <div class="input-group">
            <div class="form-outline">
                <input type="text" placeholder="Search" class="form-control">
                <!-- <label class="form-label">Search</label> -->
            </div>
            <button class="btn btn-primary" type="button">
                 <!-- <mat-icon>search</mat-icon> -->
                 
                 <i class="fa fa-search "></i>
                 <!-- <i class="fas fa-camera-retro"></i> -->
            </button>
        </div>
    </div>

    
</nav>